body {
  text-align: center;
  background-color: #cde7f0;
}

#push-button-game {
  background-color: #33cc33;
}

#pageContent {
  padding: 10px;
}

#punkte {
  float: left;
}

#leben {
  float: right;
}
